{% extends 'base.html.twig' %}

{% form_theme formPoste 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if app.user %}

    <h1>Definir Poste</h1>

    {{ form_start(formPoste) }}

    {{ form_widget(formPoste) }}
    <button type="submit" class="btn btn-success">Valider Poste</button>

    {{ form_end(formPoste) }}

    {% else %}
        <h2>Veuillez vous connecter</h2>
        <a href="/connexion" class="btn btn-primary">
            Connexion
        </a>

    {% endif %}
    <a href="{{ path('poste_index') }}">retour à la liste</a>



{% endblock %}