{% extends 'base.html.twig' %}

{% form_theme formDelegation 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Definir Delegation</h1>

    {{ form_start(formDelegation) }}

    {{ form_widget(formDelegation) }}
    <button type="submit" class="btn btn-success">Valider Delegation</button>

    {{ form_end(formDelegation) }}


{% endblock %}