{% extends 'base.html.twig' %}

{% form_theme formRappel 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if app.user %}

    <h1>Definir Rappel</h1>

    {{ form_start(formRappel) }}

    {{ form_widget(formRappel) }}
    <button type="submit" class="btn btn-success">Valider Rappel</button>

    {{ form_end(formRappel) }}

    {% else %}
        <h2>Veuillez vous connecter</h2>
        <a href="/connexion" class="btn btn-primary">
            Connexion
        </a>

    {% endif %}
    <a href="{{ path('rappel_index') }}">retour à la liste</a>



{% endblock %}