{% extends 'base.html.twig' %}

{% block title %}Modifier Banque{% endblock %}

{% block body %}
    <h1>Modifier Banque</h1>

    {{ include('fiche/formArrondissement.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('banque_index') }}">retour à la liste</a>


{% endblock %}