{{ form_start(formAttestationArretTravail) }}
    {{ form_widget(formAttestationArretTravail) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(formAttestationArretTravail) }}