{{ form_start(formPartResponsablePaiement) }}
    {{ form_widget(formPartResponsablePaiement) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(formPartResponsablePaiement) }}